<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="CoreFolderDebug" value="../../../../../../../../libs/SoloX.ActionDispatch.Core/bin/Debug" />
    <add key="CoreFolderRelease" value="../../../../../../../../libs/SoloX.ActionDispatch.Core/bin/Release" />
  </packageSources>
</configuration>
